<div class="navbar navbar-light navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
  <%= link_to "Test Guru", root_path, class: "navbar-brand" %>
  <% if current_user&.admin? %>
    <div class="collapse navbar-collapse">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <%= link_to t(".menu.admin_panel"), admin_tests_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to t(".menu.tests"), tests_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to t(".menu.gist"), admin_gists_path, class: "nav-link" %>
        </li>
      </ul>
    </div>
  <% end %>
  <div class="navbar-text">
    <% if user_signed_in? %>
      <%= t("users.sessions.welcome", name: " #{current_user.email} Guru") %>
      <%= link_to t(".logout"), destroy_user_session_path, method: :delete, class: "btn btn-outline-primary my-2 my-sm-0" %>
    <% else %>
      <%= link_to t(".sign_up"), new_user_registration_path, class: "btn btn-outline-primary my-2 my-sm-0" %>
      <%= link_to t(".log_in"), new_user_session_path, class: "btn btn-outline-primary my-2 my-sm-0" %>
    <% end %>
  </div>
</div>
