<h1><%= t('test.index.header') %></h1>

<table class="table">
  <tr>
    <th>ID</th>
    <th class="sort-by-title pointer">
      <%= t("common.title") %>

      <span class="span-arrow-up hide">
        <%= octicon 'arrow-up', class: "text-success" %>
      </span>
      <span class="span-arrow-down hide">
        <%= octicon 'arrow-down', class: "text-success hide" %>
      </span>
    </th>
    <th><%= t("common.count_questions") %></th>
    <th><%= t("common.action") %></th>
  </tr>
  <%= render @tests %>
</table>

